<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register form</title>
    <link rel="stylesheet" href="/public/css/Register.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script type="text/javascript" src="/public/js/Register.js"></script> 
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<body>
    
    <img width="1280px" height="900px" src="/public/images/haha.jpg" alt="">

    <div class="registerbox">

        <!-- <h1>Register</h1>
        <div class="textbox clearfix">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Fullname">
        </div>

        <div class="textbox clearfix">
            <i class="fa fa-envelope"></i>
            <input type="text" placeholder="Email">
        </div>

        <div class="textbox clearfix">
            <i class="fa fa-phone"></i>
            <input type="text" placeholder="Phone">
        </div>

        <div class="textbox clearfix">
            <i class="fa fa-address-card"></i>
            <input type="text" placeholder="Address">
        </div>

        <div class="textbox">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password">
        </div>

        <div class="textbox">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Status">
        </div>

        <input type="botton" class="btnreset" value=Reset>
        <input type="botton" class="btnregister" value=Register> -->
            <h1>Register</h1>
            <span>Fullname:</span>
            <input type="text" id="inFullName">
            <span>Email:</span>
            <input type="text" id="inEmail">
            <span>Address:</span>
            <input type="text" id="inAddress">
            <span>Password:</span>
            <input type="text" id="inPassword">
            <button id="btnSend">Register</button>
            <hr>
            <h1>Search</h1>
            <span>Fullname:</span>
            <input type="text" id="inFullName2">
            <button id="btnRead">Read Information</button>
            <span id="result"></span>
            <p>Status: <span id="status"></span></p>

        
    </div>

</body>
</html>