
body{
    margin: 0;
    padding: 0;
    /*background-image: url("");*/
    background-size: cover;
    color:white;
}

.registerbox{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
    width: 20%;
    display: block;
    margin: auto;
}


input#inFullName {
    width: 70%;
    margin-bottom: 10px;
}

input#inEmail {
    width: 70%;
    margin-left: 7%;
    margin-bottom: 10px;

}

input#inAddress {
    width: 70%;
    margin-left: 2.5%;
    margin-bottom: 10px;
}
input#inPassword {
    width: 70%;
    margin-left: -0.2%;
    margin-bottom: 10px;
}

header {
    position: relative;
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input#inFullName2 {
    width: 70%;
    margin-bottom: 10px;
}

button#btnRead {
    width: 40%;
}
